@page "/lektion4/lernen"

<Blazorise.Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromTop">Lektion 4: Gruppierung von Daten - GROUP BY</Blazorise.Heading>

<h3>Der GROUP BY Befehl</h3>
<p>Mit dem GROUP-BY-Befehl k&ouml;nnen Datens&auml;tze in Gruppen eingeteilt werden. Dabei wird jeder Datensatz genau einer Gruppe zugeordnet.</p>
<div class="img-full-width">
    <img class="img-fluid img-fluid-size-80" src="./img/GROUP_BY-sum.jpg" />
</div>
<small><a target="_blank" href="https://learnsql.com/blog/group-by-in-sql-explained/">Quelle: "https://learnsql.com/blog/group-by-in-sql-explained/"</a></small>
<p>Hier sehen wir, dass die verschiedenen einzelnen Eintr&auml;ge der Tabelle nach z.B. Attributen gruppiert werden k&ouml;nnen, da diese doppelt vorkommen. So k&ouml;nnen wir nach Genre gruppieren und die Anzahl ausgeben lassen.</p>
<div class="code-block">
    <code>
SELECT genre, SUM(qty) AS total
FROM books
GROUP BY genre;
    </code>
</div>
<p>Nun sind die Daten gruppiert. Somit k&ouml;nnen wir gro&szlig;e Datenmengen zusammenfassen und analysieren.</p>
<p>Sehr oft werden GROUP-BY Befehle genutzt, sobald verschiedene Tabellen miteinander verbunden werden via INNER JOIN bzw. WHERE-JOIN, da so erst gleiche Daten auftauchen.</p>
<h3>Weitere Beispiele:</h3>
<p>Wir wollen uns die Datensätze der Fahrt-Datenbank nach den Regionen gruppieren und dann die Regionen ausgeben</p>
<div class="code-block">
    <code>
SELECT Reiseziel FROM Fahrt group by Reiseziel
SELECT Reisestart, Reiseziel, SUM(dauer), AVG(preis) FROM Fahrt GROUP BY Reisestart
    </code>
</div>
<div class="code-block">
    <code>
SELECT Reiseziel FROM Fahrt group by Reiseziel
SELECT Reisestart, Reiseziel, SUM(dauer), AVG(preis) FROM Fahrt GROUP BY Reisestart
    </code>
</div>

<p>Es sollen die Reisen angezeigt werden, die mehr als 50,00€ kosten.</p>
<div class="code-block">
    <code>
SELECT Reisestart, Reiseziel, sum(preis) from Fahrt  group by Reisestart having sum(preis) > 50
    </code>
</div>

<p>Geben Sie an, wie viele Plätze der Kunde mit der KundenNr.6 gebucht hat.</p>
<div class="code-block">
    <code>
SELECT KundenNr, FahrtNr, SUM(GebuchtePlätze) FROM Bucht WHERE KundenNr = 6
    </code>
</div>
<p>select ..., sum(...) from ... where ... > ... group by ... having sum(...) > ...</p>


@code {

}
