@page "/about"

<Blazorise.Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromTop">About</Blazorise.Heading>

<p>Diese Seite wurde 2021 innerhalb des ersten Jahrs der zweijährigen Ausbildung zum Fachinformatiker entwickelt.</p>

<p>In Frau Jäckels Unterricht sollte ein eigenes SQL-Tutorial erstellt werden, welches selbst geplant werden durfte.</p>
<p>Wir entschieden uns eine eigene Website mit ASP .NET Core Blazor zu erstellen, um ein interaktives Tutorial für zukünftige Schüler zu ermöglichen.</p>

<p>Grundsätzlich wurde versucht auf dem Prinzip von <a target="_blank" href="https://www.imoodle.de/sqltutorial/index.html">SQL-Tutorial</a> vom Leistungskurs Informatik 2002/2004 - Lichtenbergschule Darmstadt aufzubauen, diese jedoch technisch und Inhaltlich zu verbessern.</p>

<p>Der Quellcode zu diesem Projekt ist auf GitHub verfügbar unter www.github.com/????</p>

<h2 id="impressum">Impressum</h2>

<p>Lukas Klepper & Jan Scherer - 10BE10 Ausbildung: Fachinformatiker 2020/2022 - <a target="_blank" href="https://fes-wiesbaden.de/">Friedrich Ebert Schule Wiesbaden</a><br/>
Balthasar-Neumann-Straße 1<br/>
65189 Wiesbaden<br/>
Tel.: 0611/315210<br/>
Mail: info@fes-wiesbaden.de</p>

@code {

}
