@page "/counter"

<h1>SQL</h1>

<input @bind="SQL"/>

<button class="btn btn-primary" @onclick="Query">Start SQL Query</button>

<br/>

@if (!string.IsNullOrWhiteSpace(ErrorMessage))
{
    <p style="color:red">@ErrorMessage</p>
}

@{ 
    if(TableResult != null)
    {
        <table style="width: 100%;">
            <tr>
                @foreach (var col in TableResult.Columns)
                {
                    <th>@col.Name</th>
                }
            </tr>
            @foreach (var row in TableResult.Rows)
            {
                <tr>
                    @foreach (var value in row.Values)
                    {
                        <td>@value</td>
                    }
                </tr>
            }
        </table>
    }
}

@code {
    private string SQL = "";
    private TableResult TableResult;
    private string ErrorMessage = "";

    private void Query()
    {
        try
        {
            ErrorMessage = "";
            var mysql = new SQLBridge();
            TableResult = mysql.Query(SQL);
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
}
