@page "/"

<h1>Willkommen im SQL-Tutorial!</h1>

<p>In diesem SQL-Tutorial wirst du innerhalb von fünf Lektionen zum SQL-Profi</p>
<p>Jede Lektion behandelt verschiedene Themen</p>

<ol>
    <li>Lektion - Informationen aus einer Datenbank erhalten mit SELECT</li>
    <li>Lektion - Aggregatfunktionen</li>
    <li>Lektion - Tabellen miteinander verbinden</li>
    <li>Lektion - Gruppieren von Daten</li>
    <li>Lektion - Geschachtelte komplexe Anfragen</li>
</ol>

<p>Dieses Tutorial wurde von <strong>Lukas Klepper</strong> und <strong>Jan Scherer</strong> für den Unterricht bei Frau Jäckel erstellt</p>
<p>Falls Frau Jäckel dieses Online-Tutorial zukünftig für Ihren Unterricht nutzen will, kann Sie dies gerne nutzen.</p>
