@page "/"

<Blazorise.Heading Size="HeadingSize.Is1" Margin="Margin.Is3.FromTop">Willkommen im SQL-Tutorial!</Blazorise.Heading>

<p>In diesem SQL-Tutorial wirst du innerhalb von fünf Lektionen zum SQL-Profi</p>
<p>Jede Lektion behandelt verschiedene Themen</p>

<ol>
    <li><a href="/lektion1/lernen">Lektion - Informationen aus einer Datenbank erhalten mit SELECT</a></li>
    <li><a href="/lektion2/lernen">Lektion - Aggregatfunktionen</a></li>
    <li><a href="/lektion3/lernen">Lektion - Tabellen miteinander verbinden</a></li>
    <li><a href="/lektion4/lernen">Lektion - Gruppieren von Daten</a></li>
    <li><a href="/lektion5/lernen">Lektion - Geschachtelte komplexe Anfragen</a></li>
</ol>

<p>Du kannst für jede Lektion einmal selbst anhand von Beispielen und Erklärungen lernen.</p>
<p>Danach stehen dir unsere interaktiven Übungsaufgaben zum Verinnerlichen zur Verfügung!</p>

<p>Alle Übungsaufgaben basieren auf unserem Modell der "Busunternehmen"-Datenbank</p>

<p>Dieses Tutorial wurde von <strong>Lukas Klepper</strong> und <strong>Jan Scherer</strong> für den Unterricht bei Frau Jäckel erstellt</p>
<p>Falls Frau Jäckel dieses Online-Tutorial zukünftig für Ihren Unterricht nutzen will, kann Sie dies gerne nutzen.</p>
